body {
	margin:0 10px;
	padding:0 10px; 
	font-size: 20px;

}
h1 {
	padding-top: 10px;
	color: #FDFDFE;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
}
section {
}
header {
	background-color: transparent;
	background-image: url('../images/flywheel.jpg');
	background-size: 100%; 
	background-repeat: no-repeat;
	text-align: center;
}
nav a {
	text-align: center;
	display: inline-block;
	align-content: center;
	width:20%;
	height: 30px;
	margin: 10px;
	margin-right: auto;
	padding-top: 10px;
	margin-bottom: 40px;
	border: 1px solid white; 
	text-decoration: none;
	background-color:transparent; 

	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;



}

.active {
	background-color: white;
}

.left {
	float: left;
	display: inline-block;
	width: 20%;
	background-color: #56a031; 
}
aside img {
	display: block;
	height:150px;
	width: 80%;
	margin:20px;
	border: 1px solid black;
}
.right {
	padding:20px;
	display: inline-block;
	width: 70%;
}


